
frontend/.idea/misc.xml
frontend/.idea/
frontend/.idea/render.experimental.xml
frontend/app/src/main/AndroidManifest_REMOTE_17112.xml
frontend/app/src/main/AndroidManifest_LOCAL_17112.xml
frontend/app/src/main/AndroidManifest_BASE_17112.xml
frontend/app/src/main/AndroidManifest_BACKUP_17112.xml
frontend/app/build_REMOTE_13088.gradle
frontend/app/build_REMOTE_12760.gradle
frontend/app/build_LOCAL_13088.gradle
frontend/app/build_LOCAL_12760.gradle
frontend/app/build_BASE_13088.gradle
frontend/app/build_BASE_12760.gradle
frontend/app/build_BACKUP_13088.gradle
frontend/app/build_BACKUP_12760.gradle
frontend/app/.build_REMOTE_12760.gradle.swp
frontend/app/.build_LOCAL_12760.gradle.swp
frontend/app/.build_BASE_12760.gradle.swp
frontend/app/.build.gradle.swp
frontend/.idea/misc.xml
